details {
  margin-bottom: 10px;
}

article {
  padding: 0 5px;
  max-width: 500px;
  margin: 0 auto;
}

ul {
  padding-left: 20px;
  padding-top: 0px;
}

sup {
  line-height: 0;
}

.footnotes > p > sup {
  padding-right: 3px;
}