img {
  display: block;
  margin: 0 auto;
}

header,
.main-center {
  max-width: 500px;
  margin: 0 auto;
}

.marquee-container {
  display: flex;
  align-items: center;
}

.marquee-container marquee span:first-child {
  padding: 0 3px 0 3px;
}

main {
  margin-top: 20px;
}

.main-left, .main-right {
  display: none;
  position: relative;
}

.main-center {
  margin: 0 auto;
  position: relative;
}

.bubble-container {
  display: block;
  height: 150px;
  width: 150px;
  position: relative;
}
  .bubble-container img {
    max-width: 100%;
  }
  .bubble-container span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .bubble-about {
    left: 20%;
  }
  .bubble-things {
    left: 50%;
  }
  .bubble-contact {
    left: 25%;
  }

.main-right > img {
  float: right;
}

@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-left, .main-right {
    display: block;
  }

  .main-right > img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bubble-about {
    left: 15%;
  }
}