img {
  display: block;
  margin: 0 auto;
  filter: invert();
}

header,
.main-center {
  max-width: 500px;
  margin: 0 auto;
}

.marquee-container {
  display: flex;
  align-items: center;
}

.marquee-container marquee span:first-child {
  padding: 0 3px 0 3px;
}

main {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
