img {
  display: block;
  margin: 0 auto;
}

.inverted {
  filter: invert();
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.hand {
  height: 300px;
}

header,
.main-center {
  max-width: 500px;
  margin: 0 auto;
}

.marquee-container {
  display: flex;
  align-items: center;
}

.marquee-container marquee span:first-child {
  padding: 0 3px 0 3px;
}

.main_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
