*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.text {
  font-family: 'Consolas', monospace;
  font-size: 13px;
}

.text-center {
  text-align: center;
}
